<!DOCTYPE html>
<html>
<head>
    <title> NASA Photos Website Name </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head> 
<body>
    <h1> Photos </h1>
    <h2> Visualize a Planet</h2>
    <p> Description: Enter name of planet that you want to see </p>
    <form action="/items">
        <input name="search_string" type="text" placeholder="Enter name..." style="background-color: beige; opacity: 80%;"  >
        <input type="submit">
    </form>
    <div class="description">
        <p>Image Description Goes Here</p>
    </div>
    <div class="picture">
        <img src="{{link}} " alt="Image Description">
    </div>
</body>

</html>
 
