<!DOCTYPE html>
<html>
<head>
    <title> NASA Photos Website Name </title>
</head>
<body>
    <h1> Photos </h1>
    <p> Description: Enter name of planet that you want to see </p>
    <form action="/items">
        <input name="search_string" type="text" placeholder="Enter name..." style="background-color: beige; opacity: 80%;" required >
        <input type="submit">
        <input name="keyword_string" type="text" placeholder="Enter keyword..." style="background-color: beige; opacity: 80%;"  >
    </form>
</body>

</html>
 
